html
{
    width: auto;
    height: auto;
}

figure
{
    text-align: center;
}
#univ
{
    margin-right: 3%;
}

#searchbar
{
    position: absolute;
    margin-top: 1%;
    margin-left: 65%;
}

body{
    background : #fdf5e7;
}

#pos
{
    position: absolute;
    margin-left: 70%;
}
#pos1
{
    position: absolute;
    margin-left: 76%;
}
#pos2
{
    position: absolute;
    margin-left: 81%;
}
#pos3
{
    margin-left: 46%;
    margin-bottom: 1%;
}
td
{
    padding: 5%;
}
table
{
    margin-left: 36%;
    border : solid 3px;
    border-radius : 2%;
}

#coment
{
    margin-top: 2%;
    padding: 5%;
    padding-right:55%;
    
}

#buttoncandi
{
    margin-top: 1%;
    padding : 2%;
    margin-left: 47%;

}
