/*html*/
html{
	height : auto;
	width : auto;
	margin : 0;
	padding : 0;
}

/*Header*/
header
{
	background : linear-gradient(to right, #6286f0, #0331b8);
	position: relative;
	margin : 0;
	padding : 0;
	min-height : 45px;
}

#logo{
	position : absolute;
	width :20%;
	margin-left : 40%;
	height : 100%;
}
#co{/*Bouton connexion*/
	left : 90%;
	margin-top : 1%;
	position : absolute;
	
}

#insc{/*Bouton inscription*/
	position : absolute;
	left : 95%;
	margin-top : 1%;
}
#univ{/*logo université des antilles*/
	width : 3%;
	height : 100%;
	position: absolute;
	margin-left : 1%;
}

/*Body*/

body h1
{
	text-align : center;
}
body
{
	margin :0;
	padding : 0;
	background : #fdf5e7;
}

table
{/*Tableau déroulant*/
	height: 100%;
	width: 70%;
	border: 2px solid black;
	color : black; 
	padding-left : 10%; 
	border-collapse: collapse;
	background-color :  #fafaf9;

}

div {
	padding-top : 0,1%;
}


tr
{
	padding:25%;
	border: 2px solid black;
	color : black; 
}

td
{
	padding: 2%;
	border: 2px solid black;
	color : black;
	width : 8%;
}

tbody{
	display : block;
	height: 490px;
	overflow-y : auto;
}


thead, tbody{
	display : block;

}

th{
	padding : 1%;
	width: 7%;

}
/*fin tableau déroulant*/

h1{/*titre*/
	font-style : italic;
}

