

/*header*/
header
{
	margin : 0;
	padding : 0
	width : auto;
	height : 80px;
	background : linear-gradient(to right, #6286f0, #0331b8);
	position: relative;
}
#logo{
	position : absolute;
	width :20%;
	margin-left : 40%;
	height : 100%;
}
#univ{/*logo université des antilles*/
	width : 3%;
	height : 100%;
	position: absolute;
	margin-left : 1%;
}

/*body*/
body {
	padding : 0;
	margin : 0;
  background-color: white;
}

h1 {
  color: black;
  text-align: center;
}

h2 {
  color: black;
  text-align: center;
}
h3 {
  color: black;
   
}

table
{/*Tableau déroulant*/
	height: 100%;
	width: 70%;
	border: 2px solid black;
	color : black; 
	padding-left : 10%; 
	border-collapse: collapse;
	background-color :  #fafaf9;

}

div {
	padding-top : 5%;
}


tr
{
	padding:25%;
	border: 2px solid black;
	color : black; 
}

td
{
	padding: 2%;
	border: 2px solid black;
	color : black;
	width : 8%;
}

tbody{
	display : block;
	height: 490px;
	overflow-y : auto;
}


thead, tbody{
	display : block;

}

th{
	padding : 1%;
	width: 7%;

}
/*fin tableau déroulant*/
