.menu {
    display: flex;        
    padding:0; 
    justify-content: center               
}
.menu li {
    list-style-type: none ;       /* Suppression des puces */
}
.menu a {
    display:block;                /* Transformation en block */
    min-width: 120px;             /* Largeur minimale des liens */
    margin: 0.5rem;               /* Marges externes (1 valeurs = 4 directions) */
    padding: 0.4rem 0;            /* Marges internes (2 valeurs = haut/bas et gauche/droite)*/
    text-align: center;           /* Centrage du texte */   
    background-color: blue;    /* Couleur d'arrière-plan */
    color: #fff;                  /* Couleur du texte */
    text-decoration: none;        /* Suppression du soulignement */
    border: 1px solid #fff;       /* Ajout d'une bordure */
    border-radius: 4px;  
}
.menu a:hover {
  background-color: white;
  color: black;
  border-color: black;
}

/*header*/
header
{
	margin : 0;
	padding : 0
	width : auto;
	height : 80px;
	background : linear-gradient(to right, #6286f0, #0331b8);
	position: relative;
}
#logo{
	position : absolute;
	width :20%;
	margin-left : 40%;
	height : 145%;
}

/*body*/
body {
	padding : 0;
	margin : 0;
  background-color: white;
}
#univ{
	width : 4%;
	height : 100%;
	position: absolute;
	margin-left : 1%;
}
h1 {
  color: black;
  text-align: center;
}

h2 {
  color: black;
  text-align: center;
}
h3 {
  color: black;
   
}
table, tr, td {

	padding:25px;
  border: 1px solid green;
  color:black;
  
}
table {
  border-collapse: collapse;
  
}
